body {
  font-size: 24px;
}

.main-logo {
  width: 90vmin;
}

h2 {
  font-size: 4vmin;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

li {
  line-height: 2.5;
}

code {
  padding: 4px;
  background: #E0E0E0;
}
