@font-face {
  font-family: "DelaGothicOne_Regular";
  src: url("assets/font/DelaGothicOne_Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Product_Regular";
  src: url("assets/font/Product_Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Product_Bold";
  src: url("assets/font/Product_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ShinGo-Light";
  src: url("assets/font/sgl.ttf") format("truetype");
}

@font-face {
  font-family: "ShinGo-Medium";
  src: url("assets/font/sgm.ttf") format("truetype");
}

@font-face {
  font-family: "ShinGo-Regular";
  src: url("assets/font/sgr.ttf") format("truetype");
}

* {
  font-family: "Product_Regular", "ShinGo-Regular";
  font-weight: lighter;
  text-align: center;
}

body {
  font-size: 24px;
  background: #111318;
  color: white;
  padding: 8px;
}

a {
  color: #adc6ff;
}

h1 {
  font-family: "DelaGothicOne_Regular";
  font-weight: lighter;
}

h2 {
  font-size: 24px;
}

.gradient-banner {
  border: 2px solid #102f60;
  border-radius: 24px;
  background-image: linear-gradient(
    -60deg, #2b4678 0%, #102f60 50%, #2b4678 100%
  )
}

.main-logo {
  width: 90vmin;
}

.main-title {
  font-size: 10vmin;
  text-wrap-mode: nowrap;
}

.main-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-blue {
  font-family: "Product_Bold", "ShinGo-Medium";
  font-size: 24px;
  border: 4px solid #445e91;
  padding: 8px;
  border-radius: 12px;
  text-decoration: none;
  color: #445e91;
  background: #d8e2ff;
  margin: 12px;
}

.devices-container {
  display: block;
}

.device-link {
  padding: 16px;
  margin: 8px 0 8px 0;
  font-size: 1.5em;
  display: grid;
  justify-items: start;
  grid-auto-flow: column;
}

.device-link a {
  max-width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Product_Bold";
}

.device-link span {
  justify-self: end;
}

.device-image-container {
  width: 100%;
  height: 30vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 16px 0;
}

.device-image-container .logo {
  height: 25vmin;
  position: absolute;
  margin-left: -45vmin;
}

.device-image-container #device_icon {
  height: 25vmax;
  position: absolute;
  margin-left: 45vmin;
}

.device-ota-details {
  width: 100%;
  font-size: 20px;
  border: 1px solid #102f60;
  border-radius: 8px;
}

.device-ota-details th, td {
  padding: 8px;
  border: 1px solid #102f60;
  line-height: 40px;
}

.device-ota-details th {
  text-align: left;
  font-family: "Product_Bold", "ShinGo-Medium";
}

.device-ota-details td {
  text-align: right;
}

code, pre {
  background: #3f4759;
  font-family: monospace;
}

#device_changelog {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px;
}

.pre-scrollable {
  max-height: 260px;
  overflow-y: auto;
}

.warning-copy-partitions {
  font-size: 20px;
  background: #93000a;
  display: none;
  padding: 16px;
  border-radius: 16px;
}
